html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-size: 1.6rem; /* 16px */
}

/* ============================== LAPTOP NHỎ (1024px - 1279px) ============================== */
@media (max-width: 1279px) {
    html {
        font-size: 58%; /* 1rem = 9.28px */
    }
}

/* ============================== TABLET (768px - 1023px) ============================== */
@media (max-width: 1023px) {
    html {
        font-size: 55%; /* 1rem = 8.8px */
    }
}

/* ============================== ĐIỆN THOẠI LỚN (480px - 767px) ============================== */
@media (max-width: 767px) {
    html {
        font-size: 50%; /* 1rem = 8px */
    }
}

/* ============================== ĐIỆN THOẠI NHỎ (< 480px) ============================== */
@media (max-width: 479px) {
    html {
        font-size: 45%; /* 1rem = 7.2px */
    }
}
